/* html, body {
  height: 100%;
} */

#list{
  padding-right: 15px;
  padding-left: 15px;
  font-family:Dosis, Arial, Helvetica, sans-serif;
  font-size:12px;
  letter-spacing:5px;

}
.nav-link:hover {
  transition: .4s;
  /* background-color:rgb(250, 178, 7); */
  padding-left:10px;
  border-bottom: 2px solid #FAB207;
  /* color: black */
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }
  .mask {
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    display: -webkit-box;
    /* line-height: 21px; */
    /* max-height: 48px; */
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    /* padding-top:0px; */
 }
 #ok{
   font-size:60px;
   color: #fff;
   text-align: center;
 }
 #text{
  color:white;
  text-align:center;
  font-size:20px;
  margin-left:90px;
  margin-right:90px;
  margin-top:30px;
 }
 /* #display{
   display: none;
 } */
/* #now{
    position: absolute;
    right: 20px;
    top: 45%;
}
#new{
  position: absolute;
  right: 20px;
  top: 60%;
  left:40px;
} */
.carousel-indicators li {
  background-color: #FAB207;
  /* font-size:20px; */
}
.carousel-indicators .active {
   background-color: #fff;
}
#hospital{
  margin-top: 15%;
  color:white;
  /* left: 5%; */
}
#interior{
  margin-top: 15%;
  color:white;
  /* left: 25%; */
}
/* h2 {
  display: flex;
  width: 60%; */
  /* position: relative; */
  /* justify-content: center; */
  /* align-items: center;
  text-align: center;
}

h2:before,
h2:after {
  content: '';
  border-top: 2px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

h2:after {
  margin: 0 0 0 20px;
}
h2 {
  margin: 30px 0;
  font: 700 2em/1.4 'Avenir', sans-serif;
  color: #FFF;
} */
.nav-item a{
  padding:10px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: white !important;
  background-color:#FAB207;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-link {
  border: none !important;
}
#viewing{
  background-image: url('../img/pic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 360px;
  position: relative;
  text-align: center;
}
.testimonial-carousel .carousel-control:before {
  font-size: 5rem;
  color:white;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

* {
  box-sizing: border-box;
}

/* body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
} */

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

/* h1 {
  font-size: 50px;
  word-break: break-all;
} */

.row {
  margin: 0px 0px;
}

/* Add padding BETWEEN each column (if you want) */
/* .row,
.row > .column {
  padding: 8px;
} */

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  /* padding: 10px; */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.nav-tabs {
  border-bottom: none !important;
}



#shift{
  margin-top:10px;
}
/* #note{
  margin-left:30%;
} */
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* width: 60px; */
} 

.menu li a {
  display: block;
}
/* #whether{
  font-size:14px;
  font-family:Roboto, sans-serif;
  font-weight:400;
  line-height:24px; */
  /* color:#4f4f4f; */
}
/* #approach{
  font-family:Roboto, sans-serif;
  font-weight:500;
  line-height:24px;
} */
#awww{
  padding-left:65px;
}
#more {display: none;}
#image{
  height:75vh;
}
#nice{
  font-size: 15px;
}
.out{
  cursor: pointer;
  padding: 12px 16px;
  font-weight:bolder;
}

/* Add an orange background color on mouse-over */
.out a:hover {
  /* color:#ffa500 !important; */
  background-color:#ffa500;
  color:white
}

.padding-0{
  margin-right:0;
  margin-left:0;
}
#h1 {
  overflow: hidden;
  text-align: center;
}
#h1:before,
#h1:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10%;
}
#h1:before {
  right: 0.5em;
  margin-left: -50%;
}
#h1:after {
  left: 0.5em;
  margin-right: -50%;
}
#careful{
  padding-top:40px;
  padding-bottom:70px;
}





/*contact page*/
.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }
  #contact{
    background-image: url('../img/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    position: relative;
    text-align: center;
  }
  #if{
    color:white;
    top:50%;
    font-weight: bolder;
  }
  #newest{
    margin-left:80px;
    margin-right:100px;
}
/* .navbar .btn-button .dropdown-menu a:hover{
  color: #000 !important;
} */

  
/*About Page*/
#uncle{
  color:white;
  top:10%;
  margin-left:20px;
  /* left: 10%; */
  font-weight: bolder;
}
#inner{
  background-image: url('../img/ceo2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  position: relative;
  /* text-align: center; */
}
#kenny{
  background-image: url('../img/okay.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  position: relative;
  text-align: center;
}
#fine{
  color:white;
  /* top:70%; */
  margin-left:45%;
  /* left: 10%; */
  margin-top:10%;
  text-align: center;
  font-weight: bolder;
}

/*services*/
#services{
  padding-top:40px;
}
#shit{
  padding-left:60px;
}
#shit2{
  padding-left:10px;
}
#serviceone{
  background-image: url('../img/servicetwo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  position: relative;
  text-align: center;
}

/*Projects Page*/
#hover:hover{
  background-color: #fab207;
  /* color:white; */
}
/* #hover p.hover{
  color:white;
} */

#project{
  background-image: url('../img/projectone.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  position: relative;
  text-align: center;
}
#card .active{
  background-color: #fab207;
  color:black;
}
#connect{
  background-image: url('../img/banner/bannerfour.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  position: relative;
  text-align: center;
}
#job{
  background-image: url('../img/banner/bannerthree.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  position: relative;
  text-align: center;
}
#redson{
  background-image: url('../img/banner/bannerone.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  position: relative;
  text-align: center;
}

/* Blog */
.blog{
  cursor: pointer;
  padding: 12px 16px;
  font-weight:bolder;
}

/* Add an orange background color on mouse-over */
.blog a:hover {
  color:#ffa500 !important;
  
}

#blog{
  background-image: url('../img/blogone.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  position: relative;
  text-align: center;
}









@media only screen and ( max-width: 1024px )
{
  .nav-link:hover {
    transition: .4s;
    /* background-color:#FAB207; */
    padding-left:10px;
    border-bottom: 2px solid #FAB207;
  }
  .nav a{
    font-size:10px;
  }
    .mask {
      overflow: hidden;
      /* text-overflow: ellipsis; */
      display: -webkit-box;
      /* line-height: 21px; */
      /* max-height: 48px; */
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
  }
  #ok{
    font-size:21px;
    color: #403503;
    padding-top:5px;
    text-align: center;
  }

  #text{
    color:white;
    text-align:center;
    font-size:12px;
    margin: 0;
    /* margin-left:90px; */
    /* margin-right:90px; */
    /* margin-top:30px; */
  }
  #what{
    margin: 0;
  }
  .offset-1{
    margin: 0;
  }
  .offset-2{
    margin: 0;
  }
  .offset-3{
    margin: 0;
  }
  #now{
    margin-top:0px;
  }
  #fone{
    font-size:13px;
    text-align:center;
  }
  #we{
    font-size:13px
  }
  #you{
    font-size:13px;
    /* text-align: center; */
  }
  #slick{
    text-align: center;
    font-size:27px;
  }
  #interior{
    text-align: center;
    font-size:27px;
  }
  #hospital{
    text-align: center;
    font-size:27px;
  }
  
  .img-fluid, .modal-dialog.cascading-modal.modal-avatar .modal-header, .video-fluid {
    max-width: 100%;
    height: 50vh;
}
#shift{
    margin-top:50px;
    margin-bottom:50px;
}
#contact{
  background-image: url('../img/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  position: relative;
  text-align: center;
}
#if{
  color:white;
  top:40%;
  font-weight: bolder;
}
#note{
  margin-left:0;
}
#whether{
  font-size:13px;
}
#awww{
  padding-left: 0px;
}
#h5{
  font-size:11px;
}
.img-fluid, .modal-dialog.cascading-modal.modal-avatar .modal-header, .video-fluid {
  max-width: 100%;
  height: 40vh;
}
/* #display{
  display: none;
} */
#image{
  height:40vh;
}
#h1{
  font-size:20px;
}
#careful{
  padding-top:25px;
  padding-bottom:50px;
}
#services{
  padding-top:0px;
  padding-bottom:20px;
}
#find{
  margin-top:20px;
}
#shit{
  padding-left:0px;
}
#shit2{
  padding-left:0px;
}
#fine{
  color:white;
  /* top:70%; */
  margin-left:30%;
  /* left: 10%; */
  margin-top:40%;
  text-align: center;
  font-weight: bolder;
}
.out{
  cursor: pointer;
  padding: 6px 9px;
  font-weight:bolder;
}
#smaller{
  padding:5px;
}
#num{
  padding-left:15px;
}
#newest{
  margin-left:0px;
  margin-right:0px;
}
}